.row {
  width: 100vw;
  padding: 20px;
  margin: 0;
}

.row .col {
  @extend .row;
}

.about {
  color: $black;
  & h2 {
    @include subhead;
  }
  & h3 {
    color: $primary-color;
    font-size: 45px;
    text-shadow: 2px 2px $tertiary-color;
  }
  & h4 {
    @extend h3;
    font-size: 35px;
  }
  & img {
    width: 450px;
    display: block;
    margin: 50px auto;
    box-shadow: 2px 2px 10px $black;
    @media screen and (max-width: $medium) {
      width: 550px;
    }
    @media screen and (max-width: $small) {
      width: 320px;
    }
  }
}
