// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

nav {
padding: 0 15px;
}

.top-section {
  padding: 1% 0;
}

.topicons {
  width: 40px;
  margin-top: 20px;
  @media screen and (max-width: $lil-boy) {
    width: 30px;
  }
}

#logo {
  width: 150px;
  background-image: url('..img/logo/logo-white.svg');
  @media screen and (max-width: $lil-boy) {
    width: 100px;
  }
}

.fa-bars {
  font-size: 36px;
  margin-top: 10px;
  @media screen and (max-width: $lil-boy) {
    margin-top: 22px;
    font-size: 22px;
  }
}

 .navbar-fixed {
   z-index: 999;
 }
