// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  position: relative;
  & img {
    width: 100%;
    box-shadow: 0px 2px 12px $black;
  }
  & h1 {
    font-size: 150px;
    position: absolute;
    bottom: 20px;
    left: 200px;
    color: $primary-color;
    text-shadow: 10px 10px $tertiary-color;
    font-family: 'Fredoka One', cursive;
    @media screen and (max-width: $medium) {
      font-size: 100px;
      bottom: 15px;
      left: 10px;
    }
    @media screen and (max-width: $small) {
      font-size: 70px;
      bottom: 10px;
      left: 0px;
    }
  }
}
