.side-nav {
  width: 50vw;
  background-color: $nav-background;
  color: $nav-color;
  @media screen and (max-width: $lil-boy) {
    width: 80vw;
  }
}

.side-nav li {
  text-align: center;

}

// #sidenav-overlay { z-index: 1; }

.side-nav-links li a {
  text-transform: uppercase;
  font-weight: bold;
  margin: 5% 10%;
  background-color: $nav-li;
  color: $nav-color;
  font-size: 7rem;
  padding: 10% 0;
  line-height: 10px;
  @media screen and (max-width: $big-boy) {
    font-size: 5.8rem;
  }
  @media screen and (max-width: $mid-boy) {
    font-size: 4.5rem;
  }
  @media screen and (max-width: $lil-boy) {
    font-size: 3.5rem;
  }
  &:hover {
    background-color: $white;
    text-decoration: none;
  }
}

.nav-bottom-links li {
  display: inline-block;
  text-align: center;
}

.nav-bottom-links {
  margin: 0 auto;
  text-align: center;
}

#mobile-demo > p {
  text-align: center;
  font-size: em(30);
  color: $nav-li;

}

#mobile-demo > p > a {
  display: inline;
  font-size: 50px;
}

#mobile-demo > a {
    display: inline-block;
}


#side-logo {
  width: 30%;
  display: block;
  margin: 5% auto;
}
