
.timeline {
  & time {
    color: $secondary-color;
    font-size: 45px;
    text-shadow: 4px 4px $black;
  }
  & p {
    font-size: 20px;
    text-shadow: 2px 2px $black;
  }
  & h5 {
  }
  & h2 {
    @include subhead;
  }
  & ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: $tertiary-color;
    @media screen and (max-width: $small) {
      margin-left: 20px;
    }
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: inherit;
      background: $white;
      transition: background .5s ease-in-out;
    }
    & div {
      position: relative;
      bottom: 0;
      width: 600px;
      padding: 15px;
      background: $primary-color;
      color: $white;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cstyle%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-50%);}}%3C/style%3E%3Cpath fill='none' stroke='#f00' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
      background-size: auto 10px;
      background-repeat: repeat-y repeat-x;
      border-radius: 10px 10px 10px;
      visibility: hidden;
      opacity: 0;
      transition: all .5s ease-in-out;
      @media screen and (max-width: $large) {
        width: 400px;
      }
      @media screen and (max-width: $medium) {
        width: 250px;
      }
      @media screen and (max-width: $small) {
          width: calc(100vw - 91px);
        }
      &::before {
        content: '';
        position: absolute;
        bottom: 7px;
        width: 0;
        height: 0;
        border-style: solid;
      }
    }
    & img {
      width: 100%
    }
  }
}


.timeline ul li:nth-child(odd) div {
  left: 45px;
  transform: translate3d(200px,0,0);
  &::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent $primary-color transparent transparent;
  }
}

.timeline ul li:nth-child(even) div {
  left: -639px;
  transform: translate3d(-200px,0,0);
  &::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent $primary-color;
    @media screen and (max-width: $small) {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent $primary-color transparent transparent;
    }
  }
  @media screen and (max-width: $large) {
    left: -449px;
  }
  @media screen and (max-width: $medium) {
    left: -289px;
  }
  @media screen and (max-width: $small) {
    left: 45px;
  }
}


.timeline ul li.in-view::after {
  background: $primary-color;
}


.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
