// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


button {
	display: block;
	text-align: center;
	padding: 20px 40px;
	@include background(linear-gradient($button-color1, $button-color2) left repeat);
	@include background(linear-gradient($button-color1, $button-color2) left repeat, radial-gradient($button-color1, $button-color2));
	@include background(url("..img/icons/someman.png"), linear-gradient($button-color1, $button-color2), center no-repeat $button-color2 scroll);
  border: none;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 4px;
	cursor: pointer;
	&:after, &:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border: 2px solid $white;
		transition: transform .4s;
  }
	&:after {
		transform: translate(5px, 5px);
  }
	&:before {
		transform: translate(-5px, -5px);
  }
	&:hover {
		&:after, &:before {
			transform: translate(0);
    }}
    }
